@use "variables" as *;
@use "mixins" as *;

.grid-cuisines {
  display: grid;
  grid-template-columns: 9rem 9rem;
  gap: 0.5rem;
  align-items: center;
  padding: 0.7rem;
  background-color: $white-color;
}

.cuisines {
  margin: .625rem;
}

@include mq(550) {
  .grid-cuisines {
    grid-template-columns: repeat(3, 9rem);
  }
}

@include mq(770) {
  .grid-cuisines {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}