@use "variables" as *;
@use "mixins" as *;

.title-card {
  background-color: $lighter-blue-color;
  padding: 0.5rem;
  padding-left: 0.4rem;
  font-family: $body-font;
  font-size: 1.5rem;
}

.recipes-food {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.recipes-food img {
  border: 1px solid $main-blue-color;
}

.latest-recipes {
  margin: .625rem;
  background-color: $grey-color;
}

.recipes-food:nth-of-type(odd) {
  background-color: $white-color;
}