@use "variables" as *;
@use "mixins" as *;

.latest-recipes h2 {
    background-color: $main-blue-color;
    padding-left: .4rem;
    margin-bottom: .2rem;
}

.recipes-food {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: .5rem;


}

.recipes-food img {
    border: 1px solid $main-blue-color;
}

.latest-recipes {
    margin: 1rem;
    background-color: $grey-color;
}

.recipes-food:nth-of-type(odd) {
    background-color: $white-color;
}