@use "variables" as *;
@use "mixins" as *;

@include mq(770) {
  .flex-side {
    max-width: 65.625rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
}