@use "variables" as *;
@use "mixins" as *;

@include mq(770) {
  .grid-display {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 0 auto;
    max-width: 65.625rem;
  }

  .column-right {
    grid-row: span 2;
  }
}