@use "variables" as *;
@use "mixins" as *;

@include mq(1024) {
  .flex-side {
    position: relative;
  }

  .column-right {
    width: 16%;
    position: absolute;
    right: 16%;
    top: 10%;
  }

  .images-showcase,
  .food-articles,
  .images-showcase {
    width: 62%;
    margin-left: $desktop-default-margin;
  }
}
