$navigation-font: "Roboto Condensed", sans-serif;
$header-font: "Roboto Condensed", serif;
$body-font: "Roboto", sans-serif;

//colors
$nav-blue-color: #015b90;
$main-blue-color: #015b90;
$lighter-blue-color: #1a71a9;
$white-color: #ffffff;
$grey-color: #dddddd;

$mobile-default-margin: 0.7rem;
